<ul_class="subheader"><h1>Properties</h1></ul>

<ul class="columns large-9">
<table>
  <thead>
    <tr>
      <th>Address</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @buildings.each do |building| %>
      <tr>
        <td><% if building.flat_no != ""%><%= building.flat_no %>/<% end %>
            <%= building.house_no %> <%= building.street %>,
            <% if building.address != ""%> <%= building.address %>,<% end %>
            <%= building.city %>, <%= building.postcode %>
        </td>        
        <td><%= link_to 'Show', building %></td>
        <td><%= link_to 'Edit', edit_building_path(building) %></td>
        <td><%= link_to 'Delete', building, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</ul>
<br>

<%= link_to 'New Building', new_building_path %>
