<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <td><% if @building.flat_no != ""%><%= @building.flat_no %>/<% end %>
      <%= @building.house_no %> <%= @building.street %>
  </td>        
</p>

<p>
  <strong>City:</strong>
  <%= @building.city %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @building.postcode %>
</p>

<p>
  <strong>Property type:</strong>
  <%= @building.property_type_id %>
</p>

<p>
  <strong>No of beds:</strong>
  <%= @building.no_of_beds %>
</p>

<p>
  <strong>Building materials:</strong>
  <%= @building.building_materials %>
</p>

<p>
  <strong>Flat roof:</strong>
  <%= @building.flat_roof %>
</p>

<p>
  <strong>Flat roof percentage:</strong>
  <%= @building.flat_roof_percentage %>
</p>

<p>
  <strong>Additional info:</strong>
  <%= @building.additional_info %>
</p>

<p>
  <strong>Original price:</strong>
  <%= @building.original_price %>
</p>

<p>
  <strong>Purchase date:</strong>
  <%= @building.purchase_date %>
</p>

<p>
  <strong>Rebuild value:</strong>
  <%= @building.rebuild_value %>
</p>

<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>
